@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
}

.new-message {
  animation: highlight 1.5s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: #ffffcc;
  }
  100% {
    background-color: transparent;
  }
}